@model WebBanHang.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />

    <dl class="row">

        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>

        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" width="120" />
        </dd>

        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.Category?.Name
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>