@model IEnumerable<WebBanHang.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Product</a>
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th style="width:200px;">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Price
                </td>

                <td>
                    <img src="@Url.Content(item.ImageUrl)" width="100" class="img-thumbnail" />
                </td>

                <td>
                    @(item.Category?.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>